// Cores
$primaryColor: #182C61;
$backgroundColor: #f5f6fa;
$textColor: #fff;
$primaryButtonColor: #44bd32;
$secondaryButtonColor: #4cd137;

// Fontes
$primarySource: "Roboto", serif;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;